In [4]:
import pandas as pd
import numpy as np

In [7]:
dataset = pd.read_csv('data//AirPassengers.csv')
dataset

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [12]:
serie = pd.Series(np.array(dataset['#Passengers']), index = dataset ['Month'])
serie

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [ ]:
serie.size

144

In [17]:
serie.ndim

1

In [18]:
serie.head()

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
dtype: int64

In [19]:
serie.iloc[0]

np.int64(112)

In [20]:
serie.iloc[0:4]

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
dtype: int64

In [21]:
serie.iloc[-1]

np.int64(432)

In [22]:
serie.loc['1960-09']

np.int64(508)

In [25]:
serie.loc['1960-09' : '1960-12']

Month
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [26]:
serie.sort_values()

Month
1949-11    104
1949-01    112
1950-11    114
1950-01    115
1949-12    118
          ...
1960-06    535
1959-07    548
1959-08    559
1960-08    606
1960-07    622
Length: 144, dtype: int64

In [27]:
serie.loc[serie > 300]

Month
1954-07    302
1955-06    315
1955-07    364
1955-08    347
1955-09    312
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 62, dtype: int64

In [28]:
serie.sum()

np.int64(40363)

In [30]:
serie.mean()

np.float64(280.2986111111111)

In [31]:
serie.index.unique

<bound method Index.unique of Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)>

In [32]:
pd.DatetimeIndex(serie.index).month

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       ...
        3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
      dtype='int32', name='Month', length=144)

In [33]:
serie.loc[(pd.DatetimeIndex(serie.index).month == 7)].sum()

np.int64(4216)