# Control Flow Statements
    if else and elif
    
    if condition:
        <statement>
    elif condition1:
        <statement>
        
        ....
        
    else:
        <statment>

In [1]:
# a , b , if a > b then print (a>b) else print(a<b)
a = 10
b = 20
if a > b:
    print('{} is greater {}'.format(a,b))
else:
    print('{} is less than {}'.format(a,b))

10 is less than 20

In [8]:
a = float(input('Enter a value a ='))
b = float(input('Enter a value b ='))

if a > b:
    print('{} is greater {}'.format(a,b))
elif a == b:
    print('{} and {} are equal'.format(a,b))
else:
    print('{} is less than {}'.format(a,b))

Enter a value a =5
Enter a value b =5
5.0 and 5.0 are equal

In [9]:
a == b

True

In [10]:
a >= b

True

In [11]:
6 <= 5

False

In [12]:
6 != 5

True

# For Loops

    for i in <>:
        <statements>
        
- range
- enumerate
- zip

> range

In [14]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
print(list(range(100,200,5)))

[100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195]

In [17]:
print(list(range(200,100,-1)))

[200, 199, 198, 197, 196, 195, 194, 193, 192, 191, 190, 189, 188, 187, 186, 185, 184, 183, 182, 181, 180, 179, 178, 177, 176, 175, 174, 173, 172, 171, 170, 169, 168, 167, 166, 165, 164, 163, 162, 161, 160, 159, 158, 157, 156, 155, 154, 153, 152, 151, 150, 149, 148, 147, 146, 145, 144, 143, 142, 141, 140, 139, 138, 137, 136, 135, 134, 133, 132, 131, 130, 129, 128, 127, 126, 125, 124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114, 113, 112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101]

> zip

In [18]:
mylist1 =['data','science','maths']
mylist2 =['one','two','three']

In [20]:
list(zip(mylist1,mylist2))

[('data', 'one'), ('science', 'two'), ('maths', 'three')]

> for loops

In [21]:
for i in range(10):
    print('Hello Data Science')

Hello Data Science
Hello Data Science
Hello Data Science
Hello Data Science
Hello Data Science
Hello Data Science
Hello Data Science
Hello Data Science
Hello Data Science
Hello Data Science

In [23]:
for i in range(1,10,2):
    print(i,'Hello Data Science')

1 Hello Data Science
3 Hello Data Science
5 Hello Data Science
7 Hello Data Science
9 Hello Data Science

In [24]:
mylist3 =['John','Sara','De','Micheal',None,'Sri']

In [27]:
for i in range(len(mylist3)):
    print(i, mylist3[i])

0 John
1 Sara
2 De
3 Micheal
4 None
5 Sri

In [29]:
for i,val in enumerate(mylist3):
    print(i,val)

0 John
1 Sara
2 De
3 Micheal
4 None
5 Sri