# Dictionaries
- Store values in key and value pair

In [1]:
mydict = {"key":1,"key1":2}
mydict

{'key': 1, 'key1': 2}

In [2]:
# create name, course name, area
mycourse ={"Name":'SriRam',
          'course':'Python Programming',
          'Area':'Data Science'}

In [4]:
mycourse

{'Name': 'SriRam', 'course': 'Python Programming', 'Area': 'Data Science'}

In [5]:
mycourse.keys()

dict_keys(['Name', 'course', 'Area'])

In [7]:
mycourse.values()

dict_values(['SriRam', 'Python Programming', 'Data Science'])

In [9]:
mycourse['Name']

'SriRam'

In [10]:
mycourse['course']

'Python Programming'

In [11]:
mycourse.get("Area")

'Data Science'

In [12]:
mycourse.items()

dict_items([('Name', 'SriRam'), ('course', 'Python Programming'), ('Area', 'Data Science')])

In [13]:
mycourse.update({'Name':'John'})

In [14]:
mycourse

{'Name': 'John', 'course': 'Python Programming', 'Area': 'Data Science'}

In [15]:
mycourse.update({'Country':'India'})

In [16]:
print(mycourse)

{'Name': 'John', 'course': 'Python Programming', 'Area': 'Data Science', 'Country': 'India'}

### Create Table with Dictionaries

In [17]:
mycourse = {'Name':['SriRam',"John","Adam"],
           "Course":['Python','Data Science','Deep Learning'],
           'Country':['India','USA','UK']}

In [18]:
mycourse

{'Name': ['SriRam', 'John', 'Adam'],
 'Course': ['Python', 'Data Science', 'Deep Learning'],
 'Country': ['India', 'USA', 'UK']}

In [19]:
import pandas as pd # pannel datasets

In [20]:
pd.DataFrame(mycourse)

     Name         Course Country
0  SriRam         Python   India
1    John   Data Science     USA
2    Adam  Deep Learning      UK