# `in` operator

In [1]:
mylist = ['Tom','Nick','John','Sri','Sara']

In [2]:
'Sri' in mylist

True

In [3]:
'abc' in mylist

False

In [4]:
word = 'little horse'

In [5]:
'a' in word

False

In [6]:
't' in word

True

# `+` concatenate
# `*` repeat

In [8]:
mylist1 = mylist + [1,2,3,5]

In [9]:
mylist1

['Tom', 'Nick', 'John', 'Sri', 'Sara', 1, 2, 3, 5]

In [10]:
'Data' + 'Science'

'DataScience'

In [13]:
# * 
print(mylist * 3)

['Tom', 'Nick', 'John', 'Sri', 'Sara', 'Tom', 'Nick', 'John', 'Sri', 'Sara', 'Tom', 'Nick', 'John', 'Sri', 'Sara']

In [14]:
print(mylist * 2)

['Tom', 'Nick', 'John', 'Sri', 'Sara', 'Tom', 'Nick', 'John', 'Sri', 'Sara']

In [15]:
'Data' * 3

'DataDataData'